/* font-family: 'Catamaran', sans-serif;
font-family: 'DM Serif Display', serif; */

* {
    box-sizing: border-box;
}

body{
    background-color: #FFF0D5;
    color: #000;
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;
    margin: 5%;
}